.banner{
    color:#FFFF;
    object-fit: contain;
    height:448px;
}
.banner__contents{
    margin-left:30px;
    padding-top: 140px;
    max-width:45rem;
    height:190px;
}
.banner__title{
    font-size:1.5rem;
    letter-spacing:0.1em;
    text-transform: uppercase;
    padding-bottom:0.3rem;
    font-weight:800;
    color:crimson;
}
.banner__description{
    width:45rem;
    line-height:1.5;
    font-size:1rem;
    font-weight:500;
    padding-top:1rem;
    max-width:360px;
    height:80px;
}
.banner_button{
    cursor:pointer;
    color:#fff;
    outline: none;
    border:none;
    font-weight:700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right:2rem;
    margin-right:1rem;
    padding-top:0.5rem;
    background-color: rgba(51,51,51,0.5);
    padding-bottom: 0.5rem;
    transition:all 0.2s ease;
}
.banner_button:hover{
    color:#000;
    background-color: #e6e6e6;
}